<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager:etc/config.xsd">
    <preference for="OneClick\Order\Api\OrderRepositoryInterface" type="OneClick\Order\Service\OrderRepository" />
    <preference for="OneClick\Order\Api\Data\OrderInterface" type="OneClick\Order\Model\OrderOneClick"/>
    <preference for="OneClick\Order\Api\Data\OrderSearchResultInterface" type="OneClick\Order\Model\ResourceModel\Collection\Collection"/>
    <preference for="OneClick\Order\Api\CustomerOrdersListInterface" type="OneClick\Order\Service\CustomersOrdersList"/>
    <preference for="OneClick\Order\Api\ManagerOrderInterface" type="OneClick\Order\Service\ManagerOrders"/>
</config>
